/* Contenedor general de bloques de código */
.highlight, pre code {
  background-color: #171822; /* Muy sutil */
  color: #fff;
  padding: 0.5em 0.75em;
  border-radius: 12px;
  overflow-x: auto;
  font-size: 0.95rem;
  line-height: 1.6;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  display: block;
  border: none; /* sin borde */
  box-shadow: none; /* sin sombra */
}

/* Comentarios */
.highlight .c, .highlight .cm {
  color: #fff;
  font-style: italic;
}

/* Palabras clave */
.highlight .k, .highlight .kd, .highlight .kn, .highlight .nt {
  color: #c587d6;
  font-weight: 500;
}

/* Tipos y clases */
.highlight .nc, .highlight .kt, .highlight .n {
  color: #677ae4;
}

/* Strings */
.highlight .s, .highlight .s1, .highlight .s2 {
  color: #dbbed9;
}

/* Números */
.highlight .m {
  color: #005cc5;
}

/* Métodos */
.highlight .nf {
  color: #6f42c1;
}

/* Operadores */
.highlight .o {
  color: #cb8bdc;
}

/* Código en línea */
code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
  font-size: 0.95em;
}
